.header {
    background: #000;
    padding: 30px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
  
.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%; 
    margin-bottom: 10px; 
}
  
.title {
    margin-right: auto;   
}
  
.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0; 
    flex-wrap: wrap; 
    justify-content: center; 
}
  
.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
}
  
.navbar a:hover {
    color: rgb(197, 0, 131);
}
  